body{
    background-image: url("greenl.jpeg");
    background-size:auto;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1{
    color: goldenrod;
   
}
#messge-blk{
    text-align: center;
    color: white;
    /* margin-bottom: 30px; */
    
    
}

#message-mi{
    font-style: italic;
    display: flex;
}

button {
    background-color: goldenrod;
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    width: 250px;
    
}

#new-btn{
    margin-top: 10px;
}